<h1>ACTOR SHOW PAGE</h1>

<% @actors.each do |actor| %>
    <h2> Actor Infomation: </h2>
    <%= actor.name %></br>
    <%= actor.age %></br>
    <h3>This actor appears in:</h3>
    <% actor.movies.each do |movie| %>
        <%= movie.title %></br>
    <% end %>
<% end %>